body {
  background: #ffffff;
  color: #000;
}

:root {
    color-scheme: light;
    --primary-color: #831523;
    --secondary-color: #F7BD16;
    --primary-container: #F9F3F4;
}

#root {
  max-width: 100vw;
  width: 100%;
  margin: 0 auto;
}

.main-section {
  padding: 2vw 15%;
  box-sizing: border-box;
}

@media (max-width: 768px ) {
    .main-section {
    padding: 50px 5%;
    box-sizing: border-box;
  }
}

.fade-in {
  opacity: 0;
  transform: translateY(40px);
  transition: opacity 0.8s ease, transform 0.8s ease;
}

.fade-in.visible {
  opacity: 1;
  transform: translateY(0);
}

h1,
h2 {
  color: brown;
}

