body {
  background: #ffffff;
  color: #000;
}

:root {
    color-scheme: light;
}

#root {
  max-width: 100vw;
  width: 100%;
  margin: 0 auto;
}

.main-section {
  padding: 50px 400px;
  box-sizing: border-box;
}