.DefisPhotos-title {
  font-family: 'Dancing Script', cursive;
  font-size: 42px;
}

.DefisPhotos-dropzone {
  display: flex;
  flex-direction: column;
  border: 2px dashed #000;
  background-color: beige;
  align-items: center;
  padding: 30px;
  border-radius: 20px;
}

.Button-Upload {
  display: block;
  padding: 14px 28px;
  text-align: center;
  border-radius: 30px;
  box-sizing: border-box;
  background-color: var(--primary-color);
}

.Button-Upload:hover {
  background-color: var(--secondary-color);
  color: black;
  border-color: var(--secondary-color);
  transition: 0.5s;
}

