.DefisPhotos-title {
  font-family: 'Dancing Script', cursive;
  font-size: 42px;
}

.DefisPhotos-dropzone {
  display: flex;
  flex-direction: column;
  border: 2px dashed #000;
  background-color: beige;
  align-items: center;
  padding: 30px;
  border-radius: 20px;
}