.DressCode-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.DressCode-title {
  font-family: 'Dancing Script', cursive;
  font-size: 42px;
}

.DressCode-grid {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.image-colors {
  border-radius: 20px;
  box-shadow: 0 12px 30px rgb(0, 0, 0, 0.1);
  margin-top: 20px;
  width: 100px;
}