.gifts-section {
  padding: 100px 20px;
}

.gifts-container {
  max-width: 1100px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 60px;
  align-items: center;
}

@media (max-width: 768px) {
  .gifts-container {
    grid-template-columns: 1fr;
  }
}

.gifts-image {
  margin: auto;
}

.gifts-image img {
  width: 20rem; 
  height: auto;
  object-fit: cover;
}

.gifts-content h2 {
  font-family: 'Dancing Script', cursive;
  font-size: 36px;
  margin-bottom: 20px;
}

.payment-box {
  display: flex;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 30px;
  align-items: center;
  justify-content: space-around;
  flex: 1;
  font-size: clamp(1vw, 3vw, 1rem);
  font-weight: 500;
}

.payment-box img {
  width: 2rem;
  height: auto;
  border-radius: 100%;
}

.buttons-line {
  display: flex;
  justify-content: space-around;
  gap: 10px;
}

.gifts-section {
  padding: 20px;
}

.gifts-image img {
  animation: bounce 1.5s infinite ease-in-out;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-20px);
  }
  60% {
    transform: translateY(-10px);
  }
}
