.hero {
  height: 100vh;
  background-size: cover;
  background-position: center;
  transition: background-image 1s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
}

.overlay {
  background: rgba(99, 4, 33, 0.5);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10vw;
  border-radius: 30px;
  color: white;
  font-size: 2rem;
  text-align: center;
}

.names {
  font-family: 'Dancing Script', cursive;
  font-size: 1.4em;
}

@media (max-width: 768px) {
  .border-deco {
    width: 80vw;
  }
}

