.info-title {
  font-family: 'Dancing Script', cursive;
  font-size: 42px;
  margin-bottom: 60px;
}

.info-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 80px;
  align-items: center;
  justify-items: center;
}

@media (max-width: 768px) {
  .info-grid {
    grid-template-columns: 1fr;
    gap: 40px;
  }
}

.info-image:hover {
  transform: translateY(-6px);
  box-shadow: 0 12px 30px rgb(0, 0, 0, 0.1);
  transition: 0.5s;
}

.info-image {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 20px;
}

.info-content h3 {
  font-size: 38px;
  margin-bottom: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info-date,
.info-time {
  font-size: 22px;
  margin: 8px 0;
  text-align: center;
}

.info-location {
  margin: 24px 0;
  text-align: center;
}

.info-links {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 32px;
  text-align: center;
}

.info-links a {
  color: #a00;
  text-decoration: none;
}

.info-cta {
  display: inline-block;
  border: 2px solid #a00;
  padding: 14px 28px;
  text-decoration: none;
  color: #a00;
  width: 80%;
  text-align: center;
}

ul {
  text-align: left;
}

.indication-parcours {
  font-style: italic;
  font-size: 12px;
}

.parcours {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}