.info-title {
  font-family: 'Dancing Script', cursive;
  font-size: 42px;
  margin-bottom: 60px;
}

.info-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 80px;
  align-items: center;
  justify-items: center;
}

.color-section {
  background-color: var(--primary-container);
  padding-bottom: 3rem;
}

@media (max-width: 768px) {
  .info-grid {
    grid-template-columns: 1fr;
    gap: 40px;
  }
}

.info-image:hover {
  transform: translateY(-6px);
  filter: drop-shadow(0 12px 30px rgba(106, 18, 18, 0.3));
  transition: 0.5s;
}

.info-image {
  width: 100%;
  object-fit: cover;
}

.info-content h3 {
  font-size: 38px;
  font-family: 'Dancing Script', cursive;
  margin-bottom: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--primary-color);
  font-size: clamp(1.8rem, 5vw, 2rem);
}

.info-date,
.info-time {
  font-size: 22px;
  margin: 8px 0;
  text-align: center;
}

.info-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 12px;
  margin-bottom: 32px;
  text-align: center;
}

.info-links a {
  color: #a00;
  text-decoration: none;
}

.info-cta {
  display: block;
  border: 2px solid #a00;
  padding: 14px 28px;
  color: #a00;
  width: 100%;
  text-align: center;
  border-radius: 30px;
  box-sizing: border-box;
}

.info-cta:hover {
  background-color: var(--secondary-color);
  color: black;
  border-color: var(--secondary-color);
  transition: 0.5s;
}

ul {
  text-align: left;
}

.indication-parcours {
  font-style: italic;
  font-size: 12px;
}

.parcours {
  display: flex;
  flex-direction: column;
}

.parcours ul {
  background-color: white;
  border-bottom: 2px solid var(--primary-color);
  border-radius: 30px;
  padding: 20px 30px;
  margin-top: 0px;
  margin-bottom: 7px;
  color: rgb(63, 63, 63);
}

.titre-sous-section {
  color: var(--primary-color);
  font-weight: 700;
}

.icon-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  margin-top: 1rem;
}

h1 {
  display: inline;
}