.navbar {
  position: absolute;
  top: 0;
  width: 100%;
  box-sizing: border-box;
  padding: 10px 48px;
  display: flex;
  justify-content: space-between;
  z-index: 10;
  background-color: rgba(240, 248, 255, 0.91);
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 32px;
}

.hamburger {
  display: none;
  font-size: 28px;
  cursor: pointer;  
}

@media (max-width: 768px) {
    .nav-links {
    position: absolute;
    top: 70px;
    left: 24px;
    background: white;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
    display: none;
  }

  .hamburger {
    display: flex;
    font-size: 28px;
    cursor: pointer; 
  }
}

.nav-links.active {
  display: flex;
}

.nav-links a {
  color: #f5b400;
  text-decoration: none;
  font-weight: 500;
}

.nav-cta {
  color: #f5b400;
  border: 2px solid #f5b400;
  padding: 12px 20px;
  text-decoration: none;
  font-weight: 500;
}