.navbar {
  position: absolute;
  top: 0;
  width: 100%;
  box-sizing: border-box;
  padding: 10px 48px;
  display: flex;
  justify-content: space-between;
  z-index: 10;
  background-color: #F9F3F4;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 32px;
}

.hamburger {
  display: none;
  font-size: 28px;
  cursor: pointer;  
}

@media (max-width: 768px) {
    .nav-links {
    position: absolute;
    top: 70px;
    left: 24px;
    background: white;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
    display: none;
  }

  .hamburger {
    display: flex;
    font-size: 28px;
    cursor: pointer; 
  }
}

.nav-links.active {
  display: flex;
}

.nav-links a {
  color: var(--primary-color);
  text-decoration: none;
  font-weight: 500;
}

.nav-cta {
  color: white;
  background-color: var(--primary-color);
  border-radius: 30px;
  padding: 12px 20px;
  text-decoration: none;
  font-weight: 500;
}

.nav-cta:hover {
  color: black;
  background-color: var(--secondary-color);
  border-radius: 30px;
  padding: 12px 20px;
  text-decoration: none;
  font-weight: 500;
  transition: 0.5s;
}