.Story-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.Story-title {
  font-family: 'Dancing Script', cursive;
  font-size: 42px;
}

.Story-grid {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Story-image {
  width: 100%;
  aspect-ratio: 16 / 9;   /* carré (ou 16/9, etc.) */
  object-fit: cover;
  object-position: center -50px;
  border-radius: 20px;
  margin-bottom: 50px;
}